@import '../../styles/shared.scss';
.toolbar {
  &__wrapper {
    // background-color: $primary-color;
    color: #ffffff;
    height: 70px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 1%;
    display: flex;
    z-index: 100!important;
    box-shadow: 1px 1px
  }
  &__logo {
    letter-spacing: 3pt;
    padding-left: 1.6% !important;
    font-weight: 700 !important;
    font-size: 18pt!important;
    cursor: pointer;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &__search-box {
    width: 100%;
    padding: 2%;
    border: 1px solid white;
    border-radius: 2px;
    font-size: 12pt;
  }
}

.pan-search-box {

}
