<mat-expansion-panel
  class="pan__card__wrapper mat-elevation-z0" 
  [expanded]="panelState ==='open'"
  (expandedChange)="panelChange($event)">
<mat-expansion-panel-header class="pan__card__header">
  <mat-panel-title class="pan__card__header__title">
    <h2>Actions</h2>
  </mat-panel-title>
  <mat-panel-description>
  </mat-panel-description>
</mat-expansion-panel-header>
<div class="button-row">
  <button mat-raised-button color="primary" class="button-item" (click)="openOriginationDialog()">Apply for an Account</button>
  <button mat-raised-button color="primary" class="button-item" disabled>Make A Transfer</button>
  <button mat-raised-button color="primary" class="button-item" disabled>Make A Payment</button>
</div>
</mat-expansion-panel>
