.register-field {
  display: block;
}

.register-wrapper {
  margin: 15% 30% 0 30%;
}

.register-logo {
  letter-spacing: 3pt;
  font-weight: 700 !important;
  font-size: 40pt!important;
  color: #689f38;
  text-align: center;
  padding: 5% 0 5% 0;
}

.button-wrapper {
  padding-top: 2%;
  text-align: center;
}